Автор материала: Юрий Кашницкий (@yorko в Slack ODS).

### <center>Задание № 1.<br> Анализ данных по доходу населения </center>

### С помощью Pandas нужно ответить на несколько вопросов по данным репозитория Adult

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
# При необходимости изменит епуть к данным
data = pd.read_csv("/content/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [4]:
print(data['sex'].value_counts())

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [5]:
print(data[data['sex'] == 'Female']['age'].mean())

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [7]:
print((data['native-country'] == 'Germany').mean())

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [8]:
# более 50к в год
high_income = data[data['salary'] == '>50K']
mean_high = high_income['age'].mean()
std_high = high_income['age'].std()
print("Средний возраст (>50K):", mean_high)
print("Стандартное отклонение (>50K):", std_high)
# менее 50к в год

low_income = data[data['salary'] == '<=50K']
mean_low = low_income['age'].mean()
std_low = low_income['age'].std()
print("Средний возраст (<=50K):", mean_low)
print("Стандартное отклонение (<=50K):", std_low)

Средний возраст (>50K): 44.24984058155847
Стандартное отклонение (>50K): 10.51902771985177
Средний возраст (<=50K): 36.78373786407767
Стандартное отклонение (<=50K): 14.020088490824813

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [9]:
higher_ed = [
    'Bachelors',
    'Prof-school',
    'Assoc-acdm',
    'Assoc-voc',
    'Masters',
    'Doctorate'
]

# Фильтруем людей с доходом >50K
high_income = data[data['salary'] == '>50K']

# Проверяем, есть ли среди них люди без высшего образования
violations = high_income[~high_income['education'].isin(higher_ed)]

print("Количество людей >50K без высшего образования:", len(violations))
print("Есть ли такие люди:", len(violations) > 0)

Количество людей >50K без высшего образования: 3306
Есть ли такие люди: True

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [10]:
age_stats = data.groupby(['race', 'sex'])['age'].describe()
print(age_stats)

max_age = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]['age'].max()
print("\nМаксимальный возраст мужчин Amer-Indian-Eskimo:", max_age)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

Максимальный возраст мужчин Amer-Indian-Eskimo: 82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [11]:
males = data[data['sex'] == 'Male']

married_males = males[males['marital-status'].str.startswith('Married')]

single_males = males[~males['marital-status'].str.startswith('Married')]

rich_married = (married_males['salary'] == '>50K').mean()

rich_single = (single_males['salary'] == '>50K').mean()

print("Доля богатых среди женатых мужчин:", rich_married)
print("Доля богатых среди холостых мужчин:", rich_single)

Доля богатых среди женатых мужчин: 0.4405139945351156
Доля богатых среди холостых мужчин: 0.08449509031397745

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [12]:

max_hours = data['hours-per-week'].max()
print("Максимальное число часов в неделю:", max_hours)

workers_max_hours = data[data['hours-per-week'] == max_hours]
count_workers = len(workers_max_hours)
print("Количество людей, работающих столько часов:", count_workers)

rich_share = (workers_max_hours['salary'] == '>50K').mean()
print("Доля зарабатывающих >50K среди них:", rich_share)

Максимальное число часов в неделю: 99
Количество людей, работающих столько часов: 85
Доля зарабатывающих >50K среди них: 0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [13]:
data['native-country'] = data['native-country'].replace('?', 'Unknown')

result = data.groupby(['native-country', 'salary'])['hours-per-week'].mean().reset_index()

print(result.rename(columns={'hours-per-week': 'mean_hours_per_week'}))

   native-country salary  mean_hours_per_week
0        Cambodia  <=50K            41.416667
1        Cambodia   >50K            40.000000
2          Canada  <=50K            37.914634
3          Canada   >50K            45.641026
4           China  <=50K            37.381818
..            ...    ...                  ...
77        Unknown   >50K            45.547945
78        Vietnam  <=50K            37.193548
79        Vietnam   >50K            39.200000
80     Yugoslavia  <=50K            41.600000
81     Yugoslavia   >50K            49.500000

[82 rows x 3 columns]